
/* ======== default background & text colors ======== */
body {
  background-color: #FFF;
  color: #000;
}

/* ======== link colors ======== */
a { text-decoration: none; }
a:link { color: #000; }
a:visited { color: #700; }
a:hover { text-decoration: underline }
a:active {  /* click */
  position: relative;
  top: 1px;
}

/* ======== footer ======== */
footer {
  font-size: xx-small;
  /* background-color: #aaa; */
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(white, #aaa);
  color: white;
  padding-top: 50px;
}

/* ======== #container-left, #container-right ======== */
/* body >
 * #container (clearfix) >
 * #container-left,#container-right >
 * section
 */
#container {
  margin-left: 10px;
}
#container-left {
  float: left;
  width: 400px;
}
#container-right {
  float: left;
  margin-left: 50px;
}

/* ======== #profile ======== */
section#profile > dd > dl > dd {
  margin-bottom: 20px;
  margin-left: 30px;
}

/* ======== .menu ======== */
.menu > h1 {
  font-size: medium;
  font-weight: normal;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
}
.menu > h2 {
  font-size: small;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
}
.menu > dd {
  margin-left: 10px;
}

/* ======== .vertical-links ======== */
.vertical-links a {
  display: block;
}

/* ======== #bg-icon ======== */
#bg-icon {
  position: relative;
  left: 100px;
  width: 500px;
  height: 500px;
  z-index: -1;
}
#bg-icon > img {
  position: absolute;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: right top;

  transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  -webkit-transition: opacity 0.6s linear;
  -o-transition: opacity 0.6s linear;
  -ms-transition: opacity 0.6s linear;
}

/* ======== #links > .desc ======== */
.desc {
  position: relative;
  top: -43px;
  left: 55px;
}
.desc * {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;

  font-size: small;
  color: #aaa;
}

/* ======== .invisible ======== */
.invisible {
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  /* IE lt 8 */
  filter: alpha(opacity=0);
  /* IE 8 */
  -ms-filter: "alpha(opacity=0)";
}

/* ======== .selected-link ======== */
.selected-link {
  background-color: gray;
}
a:link.selected-link {
  color: white;
}
a:visited.selected-link {
  color: white;
}

/* ======== .clearfix ======== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
