
body {
  background-color: #FFF;
  color: #000;
}

/* link color */
a { text-decoration: underline }
a:link { color: #000; }
a:visited { color: #700; }
a:hover {
  color: #FFF;
  background-color: #AAA;
}

#top_box {
  margin-top: 100px;
}



dl#profile > dd > dl > dt {
  color: #FFF;
  background-color: #AAA;
}
dl#profile > dd > dl > dd {
  margin-bottom: 5px;
  margin-left: 20px;
}

#main_menu > dl.menu {
  margin-top: 30px;
  margin-left: 10px;
  width: 500px;
}



#footer {
  margin-top: 50px;
  text-align: center;
  font-size: x-small;
}



/* class */

dl.menu > dt {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
  border-bottom: dashed 1px #AAA;
}
dl.menu > dd {
  margin-left: 10px;
  text-align: right;
}
