
dl, ul, ol {
  margin: 2em 0px;
}

dl dt {
  background-color: #FAA;
  font-size: larger;
  border: #F77 solid 3px;
}

dl dd, ul li, ol li {
}



dl#tags dd, ul#tags li, ol#tags li {
  display: inline;
}
