<link rel="stylesheet" href="/component/tyru-loading-icon/tyru-loading-icon.css" type="text/css" media="screen" charset="utf-8">
<span class='icon-loading-root'>
  <span class='icon-loading icon-loading-1' ng-transclude></span>
  <span class='icon-loading icon-loading-2' ng-transclude></span>
  <span class='icon-loading icon-loading-3' ng-transclude></span>
  <span class='icon-loading icon-loading-4' ng-transclude></span>
  <span class='icon-loading icon-loading-5' ng-transclude></span>
  <span class='icon-loading icon-loading-6' ng-transclude></span>
  <span class='icon-loading icon-loading-7' ng-transclude></span>
  <span class='icon-loading icon-loading-8' ng-transclude></span>
</span>
