@keyframes tyru-loading-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

tyru-loading-icon .icon-loading-root {
  width: 75px;
  height: 75px;
  padding-left: 25px;
  display: inline-block;
  position: relative;
}
tyru-loading-icon .icon-loading {
  padding-top: 50px;
  font-size: 10px;
  position: absolute;
}
tyru-loading-icon .icon-loading-1 {
  animation: 2s linear 0.250s infinite normal none running tyru-loading-icon;
}
tyru-loading-icon .icon-loading-2 {
  animation: 2s linear 0.500s infinite normal none running tyru-loading-icon;
}
tyru-loading-icon .icon-loading-3 {
  animation: 2s linear 0.750s infinite normal none running tyru-loading-icon;
}
tyru-loading-icon .icon-loading-4 {
  animation: 2s linear 1s infinite normal none running tyru-loading-icon;
}
tyru-loading-icon .icon-loading-5 {
  animation: 2s linear 1.250s infinite normal none running tyru-loading-icon;
}
tyru-loading-icon .icon-loading-6 {
  animation: 2s linear 1.500s infinite normal none running tyru-loading-icon;
}
tyru-loading-icon .icon-loading-7 {
  animation: 2s linear 1.750s infinite normal none running tyru-loading-icon;
}
tyru-loading-icon .icon-loading-8 {
  animation: 2s linear 2s infinite normal none running tyru-loading-icon;
}
