@keyframes tyru-loading-bounce-icon {
  0% {
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
  25% {
    animation-timing-function: cubic-bezier(1, 0, 0.3, 0.9);
  }
  75% {
    animation-timing-function: cubic-bezier(1, 0, 0.3, 0.9);
  }
  100% {
    animation-timing-function: cubic-bezier(0.820, 0.175, 0.935, 0.705);
  }

  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: scale(1, 1);
  }
  75% {
    /* ぶにー */
    transform: scale(1.5, 0.5) translateY(25px);
  }
  100% {
    transform: scale(1, 1);
  }
}

tyru-loading-bounce-icon .circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 50px;

  /* animation */
  animation: 1s tyru-loading-bounce-icon;
  animation-iteration-count: infinite;
}
